package site

templ Slug(site Site, page PageMetadata) {
  <div class="grid-box">
    &raquo; <a href="/">sigmonsays</a>

    for _, slug := range page.GetSlug() {
        / <a href={ slug.Url }>{ slug.Label }</a> &nbsp;
    }
  </div>
}
