.board {
	display: grid;
	column-gap: 50px;
	justify-items: center;
}

/* Display long board titles without extending first grid column. Will display at least 6 columns */
.board h1 {
	grid-column: 1/6;
	justify-self: left;
	padding-left: 5%;
}

.board h2 {
	grid-row: 2;
}

/* Disable anchor hover effect */
.board h2:hover .anchor:before {
	display: none;
}

.board ul {
	grid-row: 3;
	padding-left: 0;
}

.board li {
	display: block;
	border: 1px solid;
	padding: 15px;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 25px;
}